@import "../../Utils/GlobalColours";

.skills-main-div {
  display: flex;
  width: 100%;
  overflow: hidden;
}

.skills-text-div {
  margin-right: 50px; /* Changed to margin-right */
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > img {
  max-width: 100%;
  height: auto;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
}
.subTitle {
  color: $subTitle;
}

/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 40px;
  }
}
@media (max-width: 768px) {
  .skills-main-div {
    flex-direction: row-reverse; /* Reverse order for image on right */
  }
  .skills-image-div {
    order: 1; /* Move image to display first */
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column-reverse; /* Changed to column-reverse */
  }
  .skills-text-div {
    margin-right: 0px; /* Changed to margin-right */
    margin-left: 20px; /* Added margin-left */
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
}
